.container{
    /*width: 100%;*/
}
.navbar-shrink{
    /*text-align: center;*/
}
#footer {
    padding-top: 15px;
    margin: auto;
}

.portfolio-item .img-fluid {
    max-height: 200px;
    width: 100%;
}

.navbar-nav {
    float: right;
    margin: auto;
}

#mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav img {
    display: block;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-shrink img {
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-brand {
    float: left;
    padding: 0px 0px;
    display: contents;
}
.home-main{
    background: rgba(0,0,0,0.5);
    min-width:100%;
    margin:0;
    padding:0;
}

/* #main.row {
    display: block;

} */
/* #footer.row {
    display: block;
} */
/* body{
    background-image: url('/storage/img/transport-bg1.png');
    background-repeat: round;
    background-attachment: fixed;
} */
section {
    /*padding: 50px 25px;*/
}

section .container{
    /*background: transparent;*/
}
.modal-content {
    position: absolute;
}

header.masthead {
    background-image: url('/storage/img/transport-bg.png');
    /*margin: auto;*/
    /*background-repeat: round;*/
    background-attachment: fixed;
}

/*header.masthead .intro-text {*/
    /*padding-top: auto;*/
/*}*/

.nextBus {
    /* position: absolute; */
    /* background: #000000; */
    /* box-sizing: border-box; */
    /* margin-bottom: 250px; */
    /* margina-left: 250px; */
    /* padding: 0px 250px 0px 200px; */
    text-align: center;
    margin: auto;
    /* height: 100px; */
     max-width: 80%;
}

/* .nextBus table {
    width: 100%;

} */
.nextBus-title {
    /*background:#212529;*/
    font-size: 20px;
    font-weight: bold;
    color: #d4d440;
}
.nextBus-time{
    color: #acac28;

}
.nextBus-gender{
    font-weight: bold;
    color: #acac28;
    /* text-align: left; */
}

.nextBus-info {
    background: #212529;
    /* font-size: 18px; */
    color: #cbcbcb;
}

.nextBus thead {
    color: #e7e7e7;
    font-weight: bold;
}



/*.nextBus table{*/
/*border-color: #d4d440;*/
/*border-size:20px;*/
/*}*/
.userinfo {
    /*display: inline-block;*/
    min-height: 150px;
    max-width: 1050px;
    text-align:start;
}

.userinfo table img {
    /*display: inline-block;*/
    width: 100px;
    height: 100px;
    margin: auto;
    image-rendering: auto;
    /* margin-top:10px;
    margin-bottom:10px;
    margin-left:10px; */
}

.userinfo .table-active {
    margin: 0px;
}

.userinfo .tableSpace {
    /* margin-left: 0px; */
}

.userrouteinfo {

    /*float: right;*/
    /* margin: auto; */
    max-width: 1050px;
    text-align: center;
    color:#e7e7e7;
}

/* .userrouteinfo table{
    align: center;
} */
.userrouteinfo .table td {
    border-color: #bababa;
}

.userrouteinfo table thead {
    /*float: right;*/
    background-color: black;
    color: #acac28;
    font-weight: bold;
}

.userrouteinfo tbody tr:hover td {
    background-color: black;
}

.userRouteForm {
    color: black;
}

.userrouteinfo h3 {
    text-align: initial;
}
.backGround{
    background: #212529;
}


