/* .container{
    width: 100%;
} */
/* .navbar-shrink{
    text-align: center;
} */
#footer {
    padding-top: 15px;
    margin: auto;
}

.navbar-nav {
    float: right;
    margin: auto;
}

#mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav img {
    display: block;
    height: 100px;
}

.navbar-shrink img {
    height: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-brand {
    float: left;
    padding: 0px 0px;
    display: contents;
}

/* #main.row {
    display: block;

} */
/* #footer.row {
    display: block;
} */
/* body{
    background-image: url('/storage/img/transport-bg1.png');
    background-repeat: round;
    background-attachment: fixed;
} */
section {
    padding: 50px 25px;
}

/* section .container{
    background: transparent;
} */
.modal-content {
    position: absolute;
}

header.masthead {
    background-image: url('/storage/img/transport-bg.png');
    background-repeat: round;
    background-attachment: fixed;
}

header.masthead .intro-text {
    padding-top: 180px;
}

.nextBus {
    /* position: absolute; */
    /* background: #000000; */
    /* box-sizing: border-box; */
    /* margin-bottom: 250px; */
    /* margin-left: 250px; */
    /* padding: 0px 250px 0px 200px; */
    text-align: center;
    margin: auto;
    /* height: 100px; */
    width: 550px;
}

/* .nextBus table {
    width: 100%;

} */
.nextBus-title {
    /*background:#212529;*/
    font-size: 20px;
    color: yellow;

}

.nextBus-info {
    background: #212529;
    font-size: 18px;
    color: yellow;
}

.nextBus thead {
    color: white;
    font-weight: bold;
}

/*.nextBus table{*/
/*border-color: yellow;*/
/*border-size:20px;*/
/*}*/
.userinfo {
    /*display: inline-block;*/
    width: 90%;
    text-align: initial;
}

.userrouteinfo {

    /*float: right;*/
    width: 90%;
    text-align: center;
}

/* .userrouteinfo table{
    align: center;
} */
.userrouteinfo .table td {
    border-color: #bababa;
}

.userrouteinfo table thead {
    /*float: right;*/
    color: yellow;
    font-weight: bold;
}

.userRouteForm {
    color: black;
}

.userrouteinfo h3 {
    text-align: initial;
}


